body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;     
    background-color: #363434;
}

.NavBar {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid white;
    padding: 1rem;
}

.NavBar a {
    border: 1px solid white;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.projects {
    padding: 1rem;
    color: white;
    text-decoration: none;
    list-style: none;
}

.projects a {
    color: white;
    text-decoration: none;
}

.projectDetails {
    padding: 1rem;
    color: white;
    text-decoration: none;
    list-style: none;
}

.projectDetails a {
    color: white;
    text-decoration: none;
}

